<p class="lead">
    {{ 'APP.Reports.accounting.description' | sxyTranslate }}
</p>
<p style="clear: both"></p>
<h2>{{ 'APP.Reports.accounting.monthlyReports' | sxyTranslate }}</h2>
<salaxy-report-list report-type="'monthlyDetails'"></salaxy-report-list>
<salaxy-report-list report-type="'monthlyLiikekirjuri'"></salaxy-report-list>
<h2>{{ 'APP.Reports.accounting.yearlyReports' | sxyTranslate }}</h2>
<salaxy-report-list report-type="'yearlyDetails'"></salaxy-report-list>