<img src="https://az724081.vo.msecnd.net/img/elems/product-logos/tvr.png" class="pull-right" alt="TVR" />
<div ng-bind-html="'APP.Reports.tvr.descriptionTVR.html' | sxyTranslate"></div>
<div ng-controller="ReportsController as $ctrl" ng-init="rptType = 'unemployment'">
    <salaxy-report-list report-type="'unemployment'"></salaxy-report-list>
</div>