<img src="https://az724081.vo.msecnd.net/img/elems/partner-logos/varma-logo.png" style="max-width: 150px;" class="pull-right" alt="Varma" />
<p class="lead">{{ 'APP.Reports.tyel.description' | sxyTranslate }}</p>
<p>{{ 'APP.Reports.tyel.description2' | sxyTranslate }}</p>
<p style="clear: both"></p>
<salaxy-report-list report-type="'insurance'"></salaxy-report-list>