<p class="lead">
    {{ 'APP.Reports.yearlySummary.description' | sxyTranslate }}
</p>
<p style="clear: both"></p>
<h2>{{ 'APP.Reports.yearlySummary.titleAlt' | sxyTranslate }}</h2>
<salaxy-report-list report-type="'yearlyWorkerSummary'"></salaxy-report-list>