<p class="lead">
    {{ 'APP.Reports.vv.description' | sxyTranslate }}
</p>
<p>{{ 'APP.Reports.vv.description2' | sxyTranslate }}</p>
<p style="clear: both"></p>
<salaxy-report-list report-type="'taxYearly7801'"></salaxy-report-list>