@import "../variables/variables-bootstrap.less";
@import "global-elements.less";
@import "navi.less";

.salaxy-navi-main-container main {
    margin-top: 20px;
}
    
.worker-list-item {
    padding: 0px 0px 1px 10px;
    height: 80px;
    line-height: 80px;
    &.striped{
        background-color: #f9f9f9;
    }
    salaxy-avatar {
        margin-right: 10px;
    }
    a {
        text-decoration: none;
    }
}