.worker-actions{
    list-style:none;
    text-align:right;
    list-style-position: inside;
    li{
        text-align:right;
        float:right;
        clear: both;
        padding:4px;
        display:table;
    }
}

.alert{
    margin-top:10px;
    margin-bottom:10px;
}

/* navs/tabs */
.tab-content{
    &.procalc{
        padding-top:30px;
    }
    &.taxcards-tab{
         .col-xs-12 {
             .col-xs-12{
                padding-left:0;
                padding-right:0;
        }
    }
        h3{margin-top:20px;}
        .previous-taxcard{
            margin-top:30px;
           
        }
    }
}

.nav-tabs{
    &.calc-tab-list{
        button a{color:#fff;
        &:hover{
            text-decoration:none;
        }
    }
    }
    li{
        
        &.active{
            border-top:none;
            border-left:none;
            border-right:none;
            color:#009fd8;
            border-bottom: 2px solid #009fd8;
            border-bottom-color: #009fd8;
            a{
                border:none;
                &:hover, &:focus{
                    border:none;
                }
            }
        }
    }
}

@media screen and (min-width:1200px){
  
    salaxy-authorizing-accounts td .btn, salaxy-authorizing-accounts td a.btn, salaxy-payroll-list td a.btn, salaxy-payroll-list td .btn{
        width:50%;
        margin:auto;
    }
    }
@media screen and (max-width:1199px){
    salaxy-authorizing-accounts td .btn, salaxy-authorizing-accounts td a.btn, salaxy-payroll-list td a.btn, salaxy-payroll-list td .btn{
    width:100%;
    display:block;
}
}

td .btn-group{
    width:100%;
}
.salaxy-payroll-list, .salaxy-authorizing-accounts{
    td .btn:nth-child(2){
        margin-top:5px;
    }
    td .btn:last-child{
        margin-top:5px;
        margin-bottom:0px;
    }
    td .btn, td a.btn{
        width:100%;
    }
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.salaxy-modal-overlay{
    z-index:1001;
    overflow:scroll;
}


/*article*/
.article-content{ 
    img{
        max-width:100%;
    }
}
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        object, embed, iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
   
   

/*date-picker*/
.uib-datepicker .btn-default{
    border:none;
}
/*reports*/
salaxy-report-list td img, salaxy-report-list td img.img-thumbnail {
    max-width:50%;
}
.glyphicon.glyphicon-calendar{
    min-height:20px;
}

.contact-col{
    margin-top:40px;
}

/*loader spinner*/

.salaxy-loading.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.salaxy-loading.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.salaxy-loading.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@media screen and (min-width:1200px) {
    main {
        .second-level{
            max-width:100%;
        }
    }
}

@media screen and (max-width:767px) {
    main {
        .second-level{
        margin-left: 7%;
        max-width: 90%;
        margin-top: 40px;
        }
    }
    .contact-col{
        margin-top:20px;
    }
    .nav-tabs{
        margin-top: 40px;
        padding-top: 20px;
        &.calc-tab-list{
            margin-top:0;
            padding-top:0;
        }

       li a{
            font-size:12px;
        }
    }
    .margin-xs{margin-bottom:20px; margin-right:15px;}
}

@media screen and (max-width: 467px){
    .btn{
        font-size:12px;
    }
    
}