.salaxy-navi-page-container{
    .salaxy-navi-header-default,
    .salaxy-logo-container {
        background-color: @brand-primary;
        height: 75px;
    }
    .salaxy-navi-sidebar{
        .salaxy-logo-container {
            img{
                height: 80px;
                padding: 10px 20px; 
            }
        }

        .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }

    @media (max-width: 767px) {
        h2{
            font-size:29px;
        }
        .page-header {
            font-size:42px;
        }

        .salaxy-navi-sidebar {
            margin-left:-250;
            width:250px;
            
        }
        &.salaxy-navi-sm-opened {
            .salaxy-navi-sidebar {
                margin-left:0;
            }
        }
        .avatar-container h2 {
            font-size: 24px;
            width: 100%;
            text-align: left;
            clear: both;
        }
    }
    @media (max-width: 467px){
        .salaxy-navi-header-mobile h1 {
            font-size:21px;
        }
        h2{
            font-size:24px;
        }
        .page-header{
            font-size:30px;
        }
    }
       
}

