<salaxy-welcome></salaxy-welcome>
<div class="row">
    <div class="col-xs-12">
        <h3>Viimeisimmät työntekijät</h3>
        <salaxy-worker-list limit-to="5"></salaxy-worker-list>
        <div style="float:left;"><a href="#/workers/index" class="btn btn-primary">{{ 'APP.Home.workerList.allWorkers' | sxyTranslate }}</a></div>
        <div style="float:right;"><a href="#/workers/details/new" class="btn btn-primary">{{ 'APP.Home.workerList.addWorker' | sxyTranslate }}</a></div>
    </div>
</div>
<h3>Viimeisimmät laskelmat</h3>
<salaxy-calc-list limit-to="5"></salaxy-calc-list>
<h3>Luo uusi laskelma</h3>
<salaxy-calc></salaxy-calc>
