<h3>{{ 'APP.Partners.usersTitle' | sxyTranslate}}</h3>
<salaxy-credentials></salaxy-credentials>
<hr>
<p>&nbsp;</p>
<h3>{{ 'APP.Partners.certificatesTitle' | sxyTranslate}}</h3>
<salaxy-certificates></salaxy-certificates>
<hr>
<p>&nbsp;</p>
<h3>{{ 'APP.Partners.authorizedTitle' | sxyTranslate}}</h3>
<div class="row" ng-controller="AccountAuthorizationController as $ctrl">
    <div class="col-xs-12 ">
        <button class="btn pull-right btn-primary margin-xs" ng-click="$ctrl.showAuthorizedAccountAddDialog()">{{ 'SALAXY.NG1.AuthoringAccountComponent.authorizedAddNew' | sxyTranslate}}</button>
    </div>
    <div class="col-xs-12">
        <salaxy-authorized-accounts></salaxy-authorized-accounts>
    </div>
</div>