<div ng-controller="AccountController as accCtrl">
    <div class="row" style="max-width: 900px;">
        <div class="col-md-8">
            <salaxy-product-info-headers show-more-info-button="'false'"></salaxy-product-info-headers>
        </div>

        <div class="col-md-4">
            <salaxy-product-card product-id="accCtrl.currentProduct.id"></salaxy-product-card>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="article-content" ng-bind-html="accCtrl.getArticleForProduct().html"></div>
        </div>
    </div>
</div>