<div class="row" ng-controller="WorkersController as $ctrl">
    <div class="worker-list-item card col-xs-12 col-sm-6 col-md-4" ng-repeat="worker in $ctrl.list" ng-class="worker.id == $ctrl.current.id ? 'success': ''" ng-class-odd="'striped'">
        <a href="#/workers/details/{{ worker.id }}#taxcards">
            <span style="display:inline-block; line-height:normal; vertical-align:middle;" class="avatar-image"><salaxy-avatar style="font-size: 50px;" avatar="worker.avatar"></salaxy-avatar></span>
            <span style="display:inline-block; line-height:normal; vertical-align:middle;" class="avatar-name">
                <strong>{{ worker.avatar.displayName }}</strong><br />
                <small>
                {{worker.avatar.description == 'Auth0Database-tunnus' ? '' : worker.avatar.description}}                                                            
                </small>
            </span>
        </a>
    </div>
</div>