<div ng-cloak class="salaxy-component">
    <div class="salaxy-navi-main-container">
        <salaxy-navi-sitemap template-url="/views/default/templates/NaviSitemap.html"></salaxy-navi-sitemap>
        <content>
            <ng-transclude ng-transclude-slot="header">
                <header class="salaxy-navi-header-default">
                    <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' : 'container'">
                        <h1 class="page-title">
                            {{ $ctrl.title }} testi
                        </h1>

                    </div>
                </header>
            </ng-transclude>
            <div id="salaxy-alert-container"></div>
            <ng-transclude ng-transclude-slot="main">
                <main>
                    <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' : 'container'" ng-view autoscroll="true"></div>
                </main>
            </ng-transclude>
        </content>
    </div>
</div>