<div class="salaxy-component">
    <div class="btn-group" role="group">
        <div ng-repeat="section in $ctrl.sitemap" style="display: inherit">
            <div ng-if="section.children && section.children.length > 0">
                <button type="button" class="btn btn-default" bs-dropdown aria-haspopup="true" aria-expanded="false">
                <span>{{ section.title }}</span>
                <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a ng-href="{{section.url}}">{{section.title}}</a></li>
                    <li ng-repeat="subnavi in section.children"><a ng-href="{{subnavi.url}}">{{subnavi.title}}  </a></li>
                </ul>
            </div>
            <div ng-if="!section.children || section.children.length == 0">
                <a class="btn btn-default" ng-href="{{section.url}}">{{section.title}}</a>
            </div>
        </div>
    </div>
    <salaxy-login-button class='pull-right' style="margin-right:15px;"></salaxy-login-button>

</div>