<div class="row" ng-controller="AccountAuthorizationController as $ctrl">
    <div class="col-xs-8">
        <p class="lead">{{ 'APP.Partners.authorizedTitle' | sxyTranslate}}</p>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary pull-right margin-xs" ng-click="$ctrl.showAuthorizedAccountAddDialog()">{{ 'SALAXY.NG1.AuthoringAccountComponent.authorizedAddNew' | sxyTranslate}}</button>
    </div>
    <div class="col-xs-12">

        <salaxy-authorized-accounts></salaxy-authorized-accounts>
    </div>
</div>