<div class="row">
    <div class="col-xs-8">
        <p class="lead">
            {{ 'APP.Partners.authoringTitle' | sxyTranslate}}</p>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary pull-right margin-xs" href="#/company-onboarding/new">{{ 'SALAXY.NG1.AuthoringAccountComponent.authoringAddNew' | sxyTranslate}}</a>
    </div>
    <div class="col-xs-12">
        <salaxy-authorizing-accounts></salaxy-authorizing-accounts>
    </div>
</div>