<h2 class="page-header">{{ 'APP.Partners.title' | sxyTranslate }}</h2>
<p class="lead">
    {{ 'APP.Partners.description' | sxyTranslate }}
</p>
<div class="row" ng-controller="AccountAuthorizationController as authCtrl">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in authCtrl.partnerSites">
        <salaxy-auth-card auth-id="product.id"></salaxy-auth-card>
    </div>
</div>