<a class="btn btn-primary pull-right" ng-click="$ctrl.createNew();" href="#/payroll/new">{{ 'SALAXY.NG1.PayrollComponent.edit.createNew' | sxyTranslate}}</a>
<p class="lead">
    Palkkalistat-toiminnallisuuden avulla voit luoda ryhmiä, joille voit maksaa palkat yhdellä kertaa. 
    Jo luodun palkkalistan voi myöhemmin kopioida uudeksi, jolloin esimerkiksi toistuvien palkkojen maksaminen on helppoa
</p>
<salaxy-payroll-list details-url="/payroll/details/"></salaxy-payroll-list>