<p class="lead" ng-bind-html="'APP.Calculations.received.html'| sxyTranslate"></p>
<salaxy-calc-list status-list="['workerRequested','workerRequestAccepted','workerRequestDeclined']"></salaxy-calc-list>